<style>
	.angular-google-map-container { height: 400px; }
</style>
<div ng-include="'components/shell/shell.html'"></div>
<div class="col-md-12" data-ng-controller="SaccoCtrl">
	<form class="form" name="form" ng-submit="find(form)">
		<div class="input-group">
			<input type="text" ng-model="name" class="form-control" placeholder="sacco name" required/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Find Sacco</button>
			</span>
		</div>
	</form>
	<form class="form" name="form" ng-submit="create(form)">
		<div class="input-group">
			<input type="text" ng-model="name" class="form-control" placeholder="sacco name" required/>
			<input type="text" ng-model="coord" class="form-control" placeholder="coord" required/>
			<input type="text" ng-model="username" class="form-control" placeholder="user name" required/>
			<input type="text" ng-model="userphone" class="form-control" placeholder="user phone" required/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Create Sacco</button>
			</span>
		</div>
	</form>
</div>
